<!-- Admin Menu -->
<div class="admin-menu">

	<!-- Logo -->
	<div class="logo sherah-sidebar-padding">
		<a asp-controller="Home" asp-action="Index">
			<img class="sherah-logo__main" src="~/img/logo.png" alt="#">
		</a>
		<div class="sherah__sicon close-icon d-xl-none">
			<svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.19855 7.41927C4.22908 5.52503 2.34913 3.72698 0.487273 1.90989C0.274898 1.70227 0.0977597 1.40419 0.026333 1.11848C-0.0746168 0.717537 0.122521 0.36707 0.483464 0.154695C0.856788 -0.0643475 1.24249 -0.0519669 1.60248 0.199455C1.73105 0.289929 1.84438 0.404212 1.95771 0.514685C4.00528 2.48321 6.05189 4.45173 8.09755 6.4212C8.82896 7.12499 8.83372 7.6145 8.11565 8.30687C6.05856 10.2878 4.00052 12.2677 1.94152 14.2467C1.82724 14.3562 1.71391 14.4696 1.58439 14.5591C1.17773 14.841 0.615842 14.781 0.27966 14.4324C-0.056522 14.0829 -0.0946163 13.5191 0.202519 13.1248C0.296802 12.9991 0.415847 12.8915 0.530129 12.781C2.29104 11.0868 4.05194 9.39351 5.81571 7.70212C5.91761 7.60593 6.04332 7.53355 6.19855 7.41927Z">
				</path>
			</svg>
		</div>
	</div>
	<!-- Main Menu -->
	<div class="admin-menu__one sherah-sidebar-padding">
		<!-- Nav Menu -->
		<div class="menu-bar">
			<ul class="menu-bar__one sherah-dashboard-menu" id="sherahMenu">
				<li>
					<a href="#!" data-bs-toggle="collapse" data-bs-target="#menu-item_home">
						<span class="menu-bar__text">
							<span class="sherah-menu-icon sherah-svg-icon__v1">
								<svg class="sherah-svg-icon" xmlns="http://www.w3.org/2000/svg"
									 width="18.075" height="18.075" viewBox="0 0 18.075 18.075">
									<g id="Icon" transform="translate(0 0)">
										<path id="Path_29" data-name="Path 29"
											  d="M6.966,6.025H1.318A1.319,1.319,0,0,1,0,4.707V1.318A1.319,1.319,0,0,1,1.318,0H6.966A1.319,1.319,0,0,1,8.284,1.318V4.707A1.319,1.319,0,0,1,6.966,6.025ZM1.318,1.13a.188.188,0,0,0-.188.188V4.707a.188.188,0,0,0,.188.188H6.966a.188.188,0,0,0,.188-.188V1.318a.188.188,0,0,0-.188-.188Zm0,0" />
										<path id="Path_30" data-name="Path 30"
											  d="M6.966,223.876H1.318A1.319,1.319,0,0,1,0,222.558V214.65a1.319,1.319,0,0,1,1.318-1.318H6.966a1.319,1.319,0,0,1,1.318,1.318v7.908A1.319,1.319,0,0,1,6.966,223.876Zm-5.648-9.414a.188.188,0,0,0-.188.188v7.908a.188.188,0,0,0,.188.188H6.966a.188.188,0,0,0,.188-.188V214.65a.188.188,0,0,0-.188-.188Zm0,0"
											  transform="translate(0 -205.801)" />
										<path id="Path_31" data-name="Path 31"
											  d="M284.3,347.357H278.65a1.319,1.319,0,0,1-1.318-1.318V342.65a1.319,1.319,0,0,1,1.318-1.318H284.3a1.319,1.319,0,0,1,1.318,1.318v3.389A1.319,1.319,0,0,1,284.3,347.357Zm-5.648-4.9a.188.188,0,0,0-.188.188v3.389a.188.188,0,0,0,.188.188H284.3a.188.188,0,0,0,.188-.188V342.65a.188.188,0,0,0-.188-.188Zm0,0"
											  transform="translate(-267.542 -329.282)" />
										<path id="Path_32" data-name="Path 32"
											  d="M284.3,10.544H278.65a1.319,1.319,0,0,1-1.318-1.318V1.318A1.319,1.319,0,0,1,278.65,0H284.3a1.319,1.319,0,0,1,1.318,1.318V9.226A1.319,1.319,0,0,1,284.3,10.544ZM278.65,1.13a.188.188,0,0,0-.188.188V9.226a.188.188,0,0,0,.188.188H284.3a.188.188,0,0,0,.188-.188V1.318a.188.188,0,0,0-.188-.188Zm0,0"
											  transform="translate(-267.542)" />
									</g>
								</svg>
							</span>
							<span class="menu-bar__name">Bảng điều khiển</span>
						</span>
					</a>

				</li>
				<li>
					<a class="collapsed" asp-controller="Products" asp-action="Index">
						<span class="menu-bar__text">
							<span class="sherah-menu-icon sherah-svg-icon__v1">
								<svg class="sherah-svg-icon" xmlns="http://www.w3.org/2000/svg"
									 width="21.136" height="17.873" viewBox="0 0 21.136 17.873">
									<path id="Path_218" data-name="Path 218"
										  d="M558.766,384.526c.177-.092.32-.164.46-.24l6.468-3.491a1.9,1.9,0,0,1,.368-.179.506.506,0,0,1,.632.248.487.487,0,0,1-.127.656,1.743,1.743,0,0,1-.315.191c-2.517,1.359-5.038,2.712-7.549,4.083a.98.98,0,0,1-1.036.012q-3.781-1.986-7.582-3.934a.811.811,0,0,1-.505-.831c.02-1.3,0-2.6.014-3.9a.486.486,0,0,0-.3-.508c-.45-.232-.889-.486-1.326-.742a.539.539,0,0,1-.221-.877c.62-.926,1.244-1.849,1.883-2.762a1.17,1.17,0,0,1,.442-.344c2.561-1.246,5.127-2.482,7.688-3.728a.879.879,0,0,1,.822-.01c2.568,1.2,5.143,2.387,7.709,3.591a1.24,1.24,0,0,1,.478.42c.61.916,1.2,1.844,1.794,2.771.3.463.23.71-.265.989q-3.631,2.046-7.265,4.086c-.454.255-.643.212-.981-.2-.412-.5-.823-1.011-1.292-1.587Zm-7.409-12.033c.133.076.214.126.3.17,2.065,1.073,4.133,2.141,6.191,3.225a.625.625,0,0,0,.674-.018c2.031-1.106,4.069-2.2,6.1-3.3.118-.064.232-.133.367-.21a1.6,1.6,0,0,0-.164-.106c-2.124-.986-4.246-1.977-6.378-2.945a.814.814,0,0,0-.6.038c-2.04.971-4.071,1.96-6.1,2.945C551.626,372.349,551.511,372.412,551.357,372.492Zm-.688,4.945c0,1.092.01,2.129-.007,3.165a.5.5,0,0,0,.321.528c2.093,1.074,4.179,2.162,6.267,3.245.1.054.216.1.344.152v-6.293l-1.263,1.551c-.386.473-.552.507-1.076.212q-2.074-1.166-4.147-2.334C550.982,377.593,550.85,377.53,550.668,377.438Zm10.08,1.529,6.694-3.769-1.4-2.171-7.033,3.792Zm-3.4-2.142-7.037-3.652-1.38,2.033,6.683,3.76Z"
										  transform="translate(-547.61 -368.076)" />
								</svg>
							</span>
							<span class="menu-bar__name">Sản phẩm</span>
						</span>
					</a>
				</li>
				<li>
					<a class="collapsed" asp-controller="NhanVien" asp-action="Index">
						<span class="menu-bar__text">
							<span class="sherah-menu-icon sherah-svg-icon__v1">
								<svg class="sherah-svg-icon" xmlns="http://www.w3.org/2000/svg"
									 width="22.038" height="17.943" viewBox="0 0 22.038 17.943">
									<g id="Icon" transform="translate(-325.516 -274.72)">
										<path id="Path_221" data-name="Path 221"
											  d="M340.751,385.008c.034.446.08.824.088,1.2a.755.755,0,0,1-.86.88q-6.792.005-13.585,0c-.619,0-.88-.279-.878-.907a7.668,7.668,0,0,1,12.323-5.909c.071.054.145.1.241.172a5.8,5.8,0,0,1,2.906-1.574,5.524,5.524,0,0,1,6.566,5.177c.016.69-.23.954-.916.956-1.775,0-3.549,0-5.324,0Zm-1.467.59a6.1,6.1,0,0,0-6.281-5.43c-3.108.1-6.1,2.872-5.9,5.43Zm-.127-4.139c.349.615.686,1.16.97,1.731a.524.524,0,0,0,.55.351c1.649-.013,3.3-.006,4.947-.008.117,0,.234-.019.394-.034a4.053,4.053,0,0,0-6.861-2.042Z"
											  transform="translate(0 -94.43)" />
										<path id="Path_222" data-name="Path 222"
											  d="M363.308,278.9a4.192,4.192,0,1,1,4.144,4.208A4.177,4.177,0,0,1,363.308,278.9Zm1.472-.009a2.721,2.721,0,1,0,2.718-2.7A2.717,2.717,0,0,0,364.779,278.892Z"
											  transform="translate(-34.322)" />
										<path id="Path_223" data-name="Path 223"
											  d="M474.686,302.114a3.121,3.121,0,1,1-3.123,3.119A3.121,3.121,0,0,1,474.686,302.114Zm1.649,3.123a1.651,1.651,0,1,0-1.665,1.648A1.652,1.652,0,0,0,476.335,305.237Z"
											  transform="translate(-132.638 -24.879)" />
									</g>
								</svg>
							</span>
							<span class="menu-bar__name">Nhân viên</span>
						</span>
					</a></span>
				</li>
				<li>
					<a class="collapsed" asp-controller="KhachHang" asp-action="Index">
						<span class="menu-bar__text">
							<span class="sherah-menu-icon sherah-svg-icon__v1">
								<svg class="sherah-svg-icon" xmlns="http://www.w3.org/2000/svg"
									 width="21.732" height="18" viewBox="0 0 21.732 18">
									<g id="Icon" transform="translate(-525.662 -352.927)">
										<path id="Path_208" data-name="Path 208"
											  d="M536.507,455.982q-4.327,0-8.654,0a1.953,1.953,0,0,1-2.188-2.2c0-.99-.005-1.979,0-2.969a3.176,3.176,0,0,1,3.309-3.315c.875,0,1.749.052,2.624.062a.451.451,0,0,0,.33-.168,3.237,3.237,0,0,1,2.94-1.527q1.654.024,3.309,0a3.262,3.262,0,0,1,2.947,1.52.621.621,0,0,0,.449.153,30.091,30.091,0,0,1,3.212.044,3.044,3.044,0,0,1,2.594,3.014c.021,1.117.014,2.234.005,3.351a1.909,1.909,0,0,1-2.054,2.032Q540.919,455.989,536.507,455.982Zm3.812-1.288c0-.187,0-.326,0-.465-.008-1.781.026-3.564-.042-5.342a1.8,1.8,0,0,0-1.929-1.74c-1.131-.012-2.263,0-3.394,0a1.961,1.961,0,0,0-2.22,2.212q0,2.439,0,4.878v.46Zm-8.89.011c.013-.11.026-.165.026-.22,0-1.781-.006-3.562.009-5.343,0-.337-.178-.37-.422-.37-.749,0-1.5-.024-2.248.006a1.849,1.849,0,0,0-1.837,1.763c-.044,1.172-.022,2.346-.013,3.519a.581.581,0,0,0,.6.639C528.826,454.716,530.111,454.705,531.429,454.705Zm10.165-.005c1.354,0,2.664.018,3.974-.011.377-.008.544-.315.544-.688,0-1.117.017-2.234-.007-3.35a1.867,1.867,0,0,0-1.823-1.87c-.762-.035-1.526,0-2.29-.01-.3,0-.41.114-.406.431.017,1.4.007,2.8.007,4.2Z"
											  transform="translate(0 -85.056)" />
										<path id="Path_209" data-name="Path 209"
											  d="M609.243,356.712a3.775,3.775,0,1,1,3.788,3.764A3.775,3.775,0,0,1,609.243,356.712Zm1.279-.076a2.5,2.5,0,1,0,2.611-2.434A2.5,2.5,0,0,0,610.523,356.636Z"
											  transform="translate(-76.492)" />
										<path id="Path_210" data-name="Path 210"
											  d="M548.151,397.022a2.819,2.819,0,1,1-2.842-2.82A2.827,2.827,0,0,1,548.151,397.022Zm-1.278.023a1.542,1.542,0,1,0-1.531,1.542A1.548,1.548,0,0,0,546.873,397.045Z"
											  transform="translate(-15.421 -37.775)" />
										<path id="Path_211" data-name="Path 211"
											  d="M698.51,397.045a2.819,2.819,0,1,1,2.839,2.819A2.831,2.831,0,0,1,698.51,397.045Zm4.361.032a1.542,1.542,0,1,0-1.56,1.512A1.55,1.55,0,0,0,702.871,397.076Z"
											  transform="translate(-158.187 -37.776)" />
									</g>
								</svg>
							</span>
							<span class="menu-bar__name">Khách hàng</span>
						</span>
					</a>
				</li>
				<li>
					<a href="#!" class="collapsed" data-bs-toggle="collapse"
					   data-bs-target="#menu-item__orders">
						<span class="menu-bar__text">
							<span class="sherah-menu-icon sherah-svg-icon__v1">
								<svg class="sherah-svg-icon" xmlns="http://www.w3.org/2000/svg"
									 width="19.434" height="19.432" viewBox="0 0 19.434 19.432">
									<g id="Icon" transform="translate(791.246 88.341)">
										<path id="Path_543" data-name="Path 543"
											  d="M-777.581-68.909h-7.894c-.047-.028-.1-.056-.142-.084a.559.559,0,0,1,0-.96,1.139,1.139,0,0,1,.435-.091c.181-.018.415.051.531-.039s.118-.331.162-.507c.113-.445.221-.891.336-1.354h-.229c-1.707,0-3.415,0-5.122,0a1.7,1.7,0,0,1-1.733-1.689q-.009-5.331,0-10.661a1.655,1.655,0,0,1,1.414-1.653,9.177,9.177,0,0,1,1.229-.037c.39,0,.78,0,1.188,0,0-.542.015-1.066-.005-1.589a.715.715,0,0,1,.423-.764h7.894c.15.121.311.231.447.366.629.62,1.25,1.25,1.881,1.869a.437.437,0,0,0,.275.114c.991.008,1.982-.005,2.973.009a1.654,1.654,0,0,1,1.574,1.046,3.569,3.569,0,0,1,.136.43v11.082a.284.284,0,0,0-.025.051,1.709,1.709,0,0,1-1.842,1.429H-778.9c.154.619.3,1.207.452,1.793a.189.189,0,0,0,.142.1c.2.012.392,0,.588.007a.57.57,0,0,1,.542.449.569.569,0,0,1-.3.621C-777.51-68.955-777.545-68.931-777.581-68.909Zm.784-6.46v-8.8c-.613,0-1.214-.013-1.813,0-1.142.03-1.243-.07-1.212-1.2.015-.543,0-1.087,0-1.631v-.2h-6.441v11.824Zm3.839,0c0-.043.008-.068.008-.092q0-4.4,0-8.8a.567.567,0,0,0-.6-.589c-.512,0-1.024,0-1.536,0h-.543v9.481Zm-14.461-9.481h-2.022a.586.586,0,0,0-.663.664q0,4.307,0,8.615v.2h2.686Zm14.468,10.639h-17.154c0,.144,0,.276,0,.407,0,.52.2.719.723.719h15.707c.057,0,.114,0,.171,0a.568.568,0,0,0,.552-.544C-772.945-73.818-772.952-74.007-772.952-74.21Zm-10.5,4.152h3.847c-.151-.606-.3-1.2-.45-1.791a.17.17,0,0,0-.13-.092q-1.345-.008-2.69,0a.157.157,0,0,0-.123.077C-783.153-71.267-783.3-70.668-783.452-70.058Zm4.825-16.319-.04.024v1.032h1.067c-.316-.314-.608-.6-.9-.892A1.778,1.778,0,0,1-778.627-86.377Z" />
										<path id="Path_544" data-name="Path 544"
											  d="M-666.357-27.7c-.332-.141-.639-.252-.927-.4a.372.372,0,0,1-.19-.551c.119-.2.337-.228.581-.095.157.086.324.153.535.251v-.411c0-.417,0-.835,0-1.252a.184.184,0,0,0-.124-.2,2.748,2.748,0,0,1-.284-.152,1.146,1.146,0,0,1-.626-1.18,1.288,1.288,0,0,1,.863-1.164c.127-.049.176-.1.172-.239-.009-.3.135-.469.371-.47s.377.173.385.465c0,.044.005.087,0,.081a6.594,6.594,0,0,1,.728.41.484.484,0,0,1,.162.356.368.368,0,0,1-.6.258c-.085-.06-.171-.119-.3-.207,0,.475,0,.9,0,1.328,0,.031.041.069.073.091a.567.567,0,0,0,.123.049,1.412,1.412,0,0,1,1.021,1.279,1.586,1.586,0,0,1-.952,1.547c-.2.084-.3.171-.274.4a.345.345,0,0,1-.246.366.323.323,0,0,1-.382-.082.692.692,0,0,1-.12-.286A.661.661,0,0,1-666.357-27.7Zm.769-.944a.783.783,0,0,0,.449-.764.6.6,0,0,0-.449-.566Zm-.779-3.426a.56.56,0,0,0-.266.564.343.343,0,0,0,.266.319Z"
											  transform="translate(-117.452 -52.004)" />
										<path id="Path_545" data-name="Path 545"
											  d="M-666.831,115.647c.992,0,1.984,0,2.976,0a.567.567,0,0,1,.555.8.584.584,0,0,1-.586.336q-1.981,0-3.962,0-.986,0-1.971,0a.577.577,0,0,1-.637-.575.577.577,0,0,1,.63-.563Z"
											  transform="translate(-114.678 -193.665)" />
										<path id="Path_546" data-name="Path 546"
											  d="M-586.439,26.771c-.3,0-.606,0-.909,0a.574.574,0,0,1-.607-.566.571.571,0,0,1,.6-.572q.918,0,1.836,0a.57.57,0,0,1,.6.574.57.57,0,0,1-.591.562C-585.821,26.775-586.13,26.771-586.439,26.771Z"
											  transform="translate(-193.003 -108.205)" />
										<path id="Path_547" data-name="Path 547"
											  d="M-586.439,71.771c-.3,0-.606,0-.909,0a.574.574,0,0,1-.607-.566.571.571,0,0,1,.6-.572q.918,0,1.836,0a.57.57,0,0,1,.6.574.57.57,0,0,1-.591.562C-585.821,71.775-586.13,71.771-586.439,71.771Z"
											  transform="translate(-193.003 -150.928)" />
									</g>
								</svg>
							</span>
							<span class="menu-bar__name">Hóa đơn</span>
						</span><span class="sherah__toggle"></span>
					</a>
					<!-- Dropdown Menu -->
					<div class="collapse sherah__dropdown" id="menu-item__orders"
						 data-bs-parent="#sherahMenu">
						<ul class="menu-bar__one-dropdown">
							<li>
								<a asp-controller="ExportInvoice" asp-action="Index">
									<span class="menu-bar__text">
										<span class="menu-bar__name">Hóa đơn xuất</span>
									</span>
								</a>
							</li>
							<li>
								<a asp-controller="ImportInvoice" asp-action="Index">
									<span class="menu-bar__text">
										<span class="menu-bar__name">Hóa đơn nhập</span>
									</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a class="collapsed" asp-controller="Login" asp-action="Index">
						<span class="menu-bar__text">
							<span class="sherah-menu-icon sherah-svg-icon__v1">
								<svg class="sherah-svg-icon" xmlns="http://www.w3.org/2000/svg"
									 width="19.103" height="23.047" viewBox="0 0 19.103 23.047">
									<g id="Icon" transform="translate(-209.904 -251.466)">
										<path id="Path_240" data-name="Path 240"
											  d="M212.282,260.761c0-.958-.016-1.929,0-2.9a6.662,6.662,0,0,1,5.78-6.272c4.429-.777,8.475,2.182,8.562,6.273.021.97,0,1.94,0,2.925.264.049.49.077.708.134a2.1,2.1,0,0,1,1.656,1.995c.024,1.769.01,3.539.012,5.308,0,1.323.007,2.646,0,3.969-.009,1.47-.933,2.311-2.567,2.314q-6.98.011-13.96,0c-1.657,0-2.566-.847-2.568-2.362q-.007-4.448,0-8.9c0-1.438.616-2.115,2.185-2.421A1.584,1.584,0,0,0,212.282,260.761Zm7.156,12.3q3.436,0,6.871,0c.925,0,1.1-.163,1.1-1.014q0-4.4,0-8.8c0-.8-.2-.983-1.09-.984q-6.871,0-13.742,0c-.867,0-1.072.185-1.073.95q0,4.445,0,8.891c0,.776.2.95,1.063.951Q216,273.064,219.437,273.061Zm-5.62-12.274h11.215c0-1.014.034-2-.007-2.98a5.223,5.223,0,0,0-4.93-4.866c-2.992-.229-5.547,1.367-6.063,3.958A26.567,26.567,0,0,0,213.817,260.787Z"
											  transform="translate(0)" />
										<path id="Path_241" data-name="Path 241"
											  d="M279.688,386.981a2.131,2.131,0,0,1,2.059,1.549,2.1,2.1,0,0,1-1.038,2.476.523.523,0,0,0-.32.557c.013.4.017.8-.008,1.193a.715.715,0,0,1-1.429.007c-.01-.143-.011-.286-.008-.429.015-.641.059-1.2-.691-1.617a1.921,1.921,0,0,1-.6-2.359A2.113,2.113,0,0,1,279.688,386.981Zm.689,2.152a.709.709,0,1,0-1.417.041.658.658,0,0,0,.7.678A.666.666,0,0,0,280.376,389.133Z"
											  transform="translate(-60.212 -122.554)" />
										<path id="Path_242" data-name="Path 242"
											  d="M294.225,402.762a.666.666,0,0,1-.713.719.658.658,0,0,1-.7-.678.709.709,0,1,1,1.417-.041Z"
											  transform="translate(-74.06 -136.182)" />
									</g>
								</svg>
							</span>
							<span class="menu-bar__name">Đăng xuất</span>
						</span>
					</a>
				</li>

			</ul>
		</div>
		<!-- End Nav Menu -->
	</div>

</div>
<!-- End Admin Menu -->