@{
    ViewData["Title"] = "Thêm Nhân Viên";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@model Nhanvien
<div class="ms-2 mx-2">
    <h2>Thêm Nhân Viên </h2>
    <form asp-controller="NhanVien" asp-action="ThemNhanVien" method="post" class="mt-3">
        <div style="margin-top:7px" class="form-group row">
            <label asp-for="TenNv" class="col-sm-2 col-form-label"></label>
            <span asp-validation-for="TenNv" class="text-danger"></span>
            <div class="col-sm-10">
                <input asp-for="TenNv" class="form-control" placeholder="Tên Nhân Viên" />
            </div>

        </div>

        <div style="margin-top:7px" class="form-group row">
            <label asp-for="GioiTinh" class="col-sm-2 col-form-label"></label>
            <span asp-validation-for="GioiTinh" class="text-danger"></span>
            <div class="col-sm-10">
                <input asp-for="GioiTinh" class="form-control" placeholder="Giới tính" />
            </div>

        </div>

        <div style="margin-top:7px" class="form-group row">
            <label asp-for="Sdt" class="col-sm-2 col-form-label"></label>
            <span asp-validation-for="Sdt" class="text-danger"></span>
            <div class="col-sm-10">
                <input asp-for="Sdt" class="form-control" placeholder="Số điện thoại" />
            </div>

        </div>

        <div style="margin-top:7px" class="form-group row">
            <label asp-for="DiaChi" class="col-sm-2 col-form-label"></label>
            <span asp-validation-for="DiaChi" class="text-danger"></span>
            <div class="col-sm-10">
                <input asp-for="DiaChi" class="form-control" placeholder="Địa chỉ" />
            </div>

        </div>

        <div style="margin-top:7px" class="form-group row">
            <label asp-for="NgaySinh" class="col-sm-2 col-form-label"></label>
            <span asp-validation-for="NgaySinh" class="text-danger"></span>
            <div class="col-sm-10">
                <input asp-for="NgaySinh" class="form-control" placeholder="Ngày sinh" />
            </div>

        </div>

        <div style="margin-top:7px" class="form-group row">
            <label asp-for="Luong" class="col-sm-2 col-form-label"></label>
            <span asp-validation-for="Luong" class="text-danger"></span>
            <div class="col-sm-10">
                <input asp-for="Luong" class="form-control" placeholder="Lương" />
            </div>

        </div>

        <div style="margin-top:7px" class="form-group row">
            <label asp-for="ChucVu" class="col-sm-2 col-form-label"></label>
            <span asp-validation-for="ChucVu" class="text-danger"></span>
            <div class="col-sm-10">
                <input asp-for="ChucVu" class="form-control" placeholder="Chức Vụ" />
            </div>

        </div>

        <div style="margin-top:7px" class="form-group row">
            <label asp-for="TenDangNhap" class="col-sm-2 col-form-label"></label>
            <span asp-validation-for="TenDangNhap" class="text-danger"></span>
            <div class="col-sm-10">
                <input asp-for="TenDangNhap" class="form-control" placeholder="Tên Đăng Nhập" />
            </div>

        </div>

        <div style="margin-top:7px" class="form-group row">
            <label asp-for="MatKhau" class="col-sm-2 col-form-label"></label>
            <span asp-validation-for="MatKhau" class="text-danger"></span>
            <div class="col-sm-10">
                <input asp-for="MatKhau" class="form-control" placeholder="Mật Khẩu" />
            </div>

        </div>
        <div style="margin-top:7px" class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Thêm</button>
            </div>
        </div>
    </form>
</div>



